# Fichiers de cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Caches pytest
.pytest_cache/

# macOS
.DS_Store

# VSCode
.vscode/

# Environnements virtuels
env/
.venv/
.env/

# requirements.txt
requirements.txt